<% form_for resource, :html => {:class => "formtastic"} do |f| %>
  <%= f.error_messages %>
  <fieldset class="inputs">
    <ol>
      <%- @dry_view[:columns].each do |c| -%>
        <% if File.exists?(File.join(view_paths.first, controller_name, "_#{c.name}_form_column.html.erb")) %>
          <%= render :partial => "#{c.name}_form_column", :locals  => {:column => c, :f => f} %>
        <%- else -%>
          <li class="required">
          <%= f.label c.name, resource_class.human_attribute_name(c.name) %>
            <abbr title="<%=h I18n.t('dry_view.required', :default => "Required") -%>">*</abbr>
          <%= f.text_field c.name %>
          </li>
        <%- end -%>
      <%- end -%>
    </ol>
  </fieldset> 
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= f.submit I18n.t('dry_view.submit', :default => "Submit") %>
      </li> 
    </ol>
  </fieldset>
<% end %>
