<% form_for resource, :html => {:class => "formtastic"} do |f| %>
  <%= f.error_messages %>
  <fieldset class="inputs">
    <ol>
      <%- requires = (params[:actions].to_s == "new" ? @dry_view.create_requires : @dry_view.update_requires) -%>
      <%- (params[:actions].to_s == "new" ? @dry_view.create_columns : @dry_view.update_columns).each do |c| -%>
        <% if File.exists?(File.join(view_paths.first, controller_name, "_#{c}_form_column.html.erb")) %>
          <%= render :partial => "#{c}_form_column", :locals  => {:column => c, :f => f} %>
        <%- else -%>
          <li<%= ' class="required"' if requires.include?(c) -%>>
            <%= f.label c, label_text(c) %>
          <%- db_column = resource_class.columns.select{ |col| col.name.to_s == c.to_s }.first -%>
          <%- case db_column.try(:type) -%>
          <%- when :date -%>
            <%= f.date_select c -%>
          <%- when :datetime -%>
            <%= f.datetime_select c -%>
          <%- when :text -%>
            <%= f.text_area c -%>
          <%- when :boolean -%>
            <%= f.select c, [[I18n.t("dry_view.boolean_text.true", :default => "Yes"), 1], [I18n.t("dry_view.boolean_text.false", :default => "No"), 0]] %>
          <%- else -%>
            <%= f.text_field c %>
          <%- end -%>
          </li>
        <%- end -%>
      <%- end -%>
    </ol>
  </fieldset> 
  <fieldset class="buttons">
    <ol>
      <li class="commit">
        <%= f.submit I18n.t('dry_view.submit', :default => "Submit") %>
      </li>
    </ol>
  </fieldset>
<% end %>
