<div class="page">
  <h1 class='heading'>
    <%= resource_class.human_name -%>
  </h1> 
  <div class='actions'> 
    <%= link_to "#{I18n.t('dry_view.new', :default => "New")}#{resource_class.human_name}", new_resource_url %>
  </div> 
  <table> 
    <thead class='header'> 
      <tr> 
        <%- @dry_view[:columns].each do |c| -%>
        <th><%= resource_class.human_attribute_name(c.name) -%></th>
        <%- end -%>
        <th class='actions'><%=h I18n.t 'dry_view.actions', :default => "Actions" -%> </th> 
      </tr> 
    </thead> 
    <tbody class='items topics'> 
      <% collection.each do |i| %>
        <tr class="<%= cycle("odd", "even") %> <%=h i.class.name -%>" id="<%=h "#{i.class.name}-#{i.id}" -%>">
          <%- @dry_view[:columns].each do |c| -%>
          <td class="<%= c.name -%>"><%=h i.send(c.name) %></td>
          <%- end -%>

          <td class="actions">
             <%= link_to I18n.t('dry_view.view', :default => "View"), resource_url(i) %>
             |
             <%= link_to I18n.t('dry_view.edit', :default => "Edit"), edit_resource_url(i) %>
             |
             <%= link_to I18n.t('dry_view.remove', :default => "Remove"), resource_url(i), :method => :delete, :confirm => I18n.t('dry_view.are_you_sure', :default => "Are you sure?") %> 
          </td>
        </tr>
      <% end %>
    </tbody> 
  </table> 
</div>
