<div class="page">
  <h1 class='heading'>
    <%= resource_class.human_name -%>
  </h1> 
  <div class='actions'> 
    <%- if @dry_view.has_new? -%>
    <%= link_to "#{I18n.t('dry_view.new', :default => "New")}#{resource_class.human_name}", new_resource_url %>
    <%- end -%>
  </div> 
  <table cellspacing="0" cellpadding="0" border="0"> 
    <thead class='header'> 
      <tr> 
        <%- @dry_view.list_columns.each do |c| -%>
        <th><%= resource_class.human_attribute_name(c.to_s) -%></th>
        <%- end -%>
        <%- if @dry_view.has_record_action? -%>
        <th class='actions'><%=h I18n.t 'dry_view.actions', :default => "Actions" -%> </th> 
        <%- end -%>
      </tr> 
    </thead> 
    <tbody class="<%=h resource_class.new.dom_class -%>"> 
      <% if collection.empty? %>
        <% colspan_count = @dry_view.list_columns.size -%>
        <% colspan_count += 1 if @dry_view.has_record_action? -%>
        <tr>
          <td colspan="<%= colspan_count -%>"><%= I18n.t('dry_view.record_not_found', :default => "Record not found.") %></td>
        </tr>
      <% end %>
      <% collection.each do |i| %>
        <tr class="<%= cycle("odd", "even") %> <%=h i.dom_class -%>" id="<%=h "#{i.dom_id}" -%>">
          <%- @dry_view.list_columns.each do |c| -%>
          <td class="<%= c.to_s.underscore -%>">
            <% me = "#{c}_column".gsub(/\?/, '') %>
            <%= respond_to?(me) ? send(me, i): h(i.send(c)) %>
          </td>
          <%- end -%>
          <%- if @dry_view.has_record_action? -%>
          <td class="actions">
             <%-
             links = []
             links << link_to(I18n.t('dry_view.view', :default => "View"), resource_url(i)) if @dry_view.has_show?
             links << link_to(I18n.t('dry_view.edit', :default => "Edit"), edit_resource_url(i)) if @dry_view.has_edit?
             links << link_to(I18n.t('dry_view.remove', :default => "Remove"), resource_url(i), :method => :delete, :confirm => I18n.t('dry_view.are_you_sure', :default => "Are you sure?")) if @dry_view.has_destroy?
             -%>
             <%= links.join(' | ') %>
          </td>
          <%- end -%>
        </tr>
      <% end %>
    </tbody> 
  </table> 
  <%= will_paginate(collection, :previous_label => I18n.t("dry_view.paginate.previous", :default => 'Previous'), :next_label => I18n.t("dry_view.paginate.next", :default => 'Next')) %>
</div>
