<div class="page">
  <h1 class="heading"> 
    <%=h "#{I18n.t('dry_view.view', :default => "View")} #{resource_class.human_name} #{resource.label}" -%>
  </h1>
  
  <% if File.exists?(File.join(view_paths.first, controller_name, '_heading_actions.html.erb')) %>
    <div class="heading-actions">
      <%= render 'heading_actions' %>
    </div>
  <%- end -%>

  <dl class="<%=h resource.dom_class %>" id="<%=h "#{resource.dom_id}" -%>">
    <%- @dry_view[:columns].each do |c| -%>
    <dt class='label'><%= resource_class.human_attribute_name(c.name) %></dt> 
    <% me = "#{c.name}_column".gsub(/\?/, '') %>
    <dd class='<%=h c.name.underscore -%>'><%=respond_to?(me) ? send(me, resource) : h(resource.send(c.name))%></dd> 
    <%- end -%>
  </dl>

  <div class='actions'> 
    <%= link_to I18n.t('dry_view.edit', :default => "Edit"), edit_resource_url %>
    |
    <%= link_to I18n.t('dry_view.return_index', :default => "Index"), collection_url %>
  </div> 
 </div>
