<% human_name = (respond_to?(:human_name) ? send(:human_name) : resource_class.human_name) %>
<div class="page">
  <h1 class="heading"> 
    <%=h "#{I18n.t('dry_view.view', :default => "View")} #{human_name} #{resource.label}" -%>
  </h1>
  
  <% if File.exists?(File.join(view_paths.first, controller_name, '_heading_actions.html.erb')) %>
    <div class="heading-actions">
      <%= render 'heading_actions' %>
    </div>
  <%- end -%>

  <dl class="<%=h resource.dom_class %>" id="<%=h "#{resource.dom_id}" -%>">
    <%- @dry_view.show_columns.each do |c| -%>
    <dt class='label'><%= resource_class.human_attribute_name(c.to_s) %></dt> 
    <% me = "#{c}_column".gsub(/\?/, '') %>
    <dd class='<%=h c.to_s.underscore -%>'><%=respond_to?(me) ? send(me, resource) : h(resource.send(c))%></dd> 
    <%- end -%>
  </dl>

  <div class='actions'> 
    <%-
    links = []
    links << link_to(I18n.t('dry_view.edit', :default => "Edit"), edit_resource_url(resource)) if (resource.respond_to?('allow_edit?') ? resource.allow_edit? : @dry_view.has_edit?)
    links << link_to(I18n.t('dry_view.remove', :default => "Remove"), resource_url(resource), :method => :delete, :confirm => I18n.t('dry_view.are_you_sure', :default => "Are you sure?")) if (resource.respond_to?('allow_destroy?') ? resource.allow_destroy? : @dry_view.has_destroy?)
    links << link_to(I18n.t('dry_view.return_index', :default => "List"), collection_url)
    -%>
    <%= links.join(' | ') %>
  </div> 
 </div>
