<div class="page">
  <h1 class='heading'> 
    <%=h "#{I18n.t('dry_view.view', :default => "View")} #{resource_class.human_name} #{resource.label}" -%>
  </h1>

  <dl class="<%=h resource_class.name %>" id="<%=h "#{resource_class.name}-#{resource.id}" -%>">
    <%- @dry_view[:columns].each do |c| -%>
    <dt class='label'><%= resource_class.human_attribute_name(c.name) %></dt> 
    <dd class='<%=h c.name -%>'><%=h resource.send(c.name) %></dd> 
    <%- end -%>
  </dl>

  <div class='actions'> 
    <%= link_to I18n.t('dry_view.edit', :default => "Edit"), edit_resource_url %>
    |
    <%= link_to I18n.t('dry_view.return_index', :default => "Index"), collection_url %>
  </div> 
</div>
